/*assign flex display for body --- https://flexboxfroggy.com/*/
body {
    display: flex;
    text-align: center;
    justify-content: center;
}

/*create a square to test clickability*/
.plant {
    background: red;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
